<!DOCTYPE html>
<html>

<head>
	<title>
		SiwTravel
	</title>
	<link rel="stylesheet" href="/css/stile.css?version=2" />
</head>

<body>
	<nav>

		<div class="logo">
			<a th:href="@{'/visita' + '/' + 'luogoId=' + ${visita.luogoDiInteresse.id}}"> 
				<img src="/images/mondo2.png" alt="Logo del Sito">
			</a>
		</div>	
				
		<div class="signup-text" style="margin-left: 80%;  margin-top: 2%;">
			<a style="font-size: 25px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" href="/logout">
				Logout <br>
			</a>
		</div>
			
	</nav>
	<header>
	</header>
	<section class="section">
		<div class="login-container" style="margin-top: 10%;">
			<div id="loginMenu">
				
			<h1> Seleziona data e orario: </h1>
		
		<form th:action="@{'/prenotazione' + '/' + ${visita.id}}" method="POST">
		<div style="margin-top: 30%; margin-bottom: 30%;">	
		
		<div th:object="${prenotazione}">	
		<p>
			Data*:
			<div class="item_Form">
				<input required type="date" th:field="${prenotazione.data}" />
			</div>
		</p>	
		</div>		
			
		<p>
			Ora*:
			<div class="select-wrapper">
				<select name="orarioScelto" class="styled-selectPre" required>
				    <option value=""> Selezionare un orario </option>
				    <th:block th:each="disponibile : ${disponibili}">
				        <option th:value="${disponibile}" th:text="${disponibile}"></option>
				    </th:block>
				</select>
			</div>
		</p>
		</div>	
			<button class="button-confirmP"  type="submit">
				Conferma
			</button>
	</form>
	
	</div>
			</div>
		
	</section>
	
	<footer class="footer">
		Tel: 069103224 <br>
		mail: francesca.saraco200@gmail.com <br>
		indirizzo Sede Principale: via Vito Volterra 63
	</footer>
	
</body>

</html>