<!DOCTYPE html>
<html>

<head>
	<title>
		SiwTravel
	</title>
	<link rel="stylesheet" href="/css/stile.css?version=2" />
	<script src="https://use.fontawesome.com/d8805b6d62.js"></script>
</head>

<body>
	<nav>
		<div class="logo">
			<img src="/images/mondo2.png" alt="Logo del Sito">
		</div>
		
		<div class="search-box">
			<form th:action="@{/ricercaPerNome}" method="get"> <!-- stai mandando Roma alla pagina luogo di interesse -->
			<input class="cerca" type="text" placeholder="seleziona la citta" name="nome"/>
			<button type="submit" class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
			</form>
		</div>
		
		<!--<div class="accesso">
			
		</div>-->
		
		<div class="signup-text" style="margin-left: 80%;  margin-top: 2%;">
			<a style="font-size: 22px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-decoration: none;"  th:href="@{'/visualizzaDettagli'}"
						th:text="' le mie prenotazioni '"></a>
		</div>
		
	</nav>
	<header>
		<div id="flex-container">
			<img class="flex" src="/images/IMG_0885.jpg"/>
			<img class="flex" src="/images/IMG_0349.jpg"/>
			<img class="flex" src="/images/ninfa.jpg"/>
			<img class="flex" src="/images/IMG_0935.jpg"/>
		</div>
	</header>
	<section>
		<div class="homePage"> 
				<h1 class="homePage">
					Siw Travel
				</h1> 
			 </div>
	</section>
	<footer class="footer">
		<div>
			<span class="flex-c">
				<div class="l_homePtext">
				<span th:unless="${utente}">
					<a style="font-size: 25px;" href="/login">
						Login <br>
					</a>
				</span>
				<span th:if="${utente}">
					<a  style="font-size: 25px;" href="/logout">
					Logout <br>
					</a>
				</span>
				</div>
		<p> Riferimenti: </p>
		
		<p>
			Tel: 069103224 <br>
			mail: francesca.saraco200@gmail.com <br>
			indirizzo Sede Principale: via Vito Volterra 63
		</p>
			</span>
			<img class="flex-c" src="/images/iconee.png"/>
		</div>
		
	</footer>
</body>

</html>