<!DOCTYPE html>
<html>

<head>
	<title>
		SiwTravel
	</title>
	<link rel="stylesheet" href="/css/stile.css?version=2" />
</head>

<body>
	<nav>
		<div class="logo">
			<a th:href="@{'/listaLuoghiDiInteresse' + '/' + ${luogo.citta.id}}"> <img src="/images/mondo2.png" alt="Logo del Sito"> </a>  
		</div>
		
		<div class="signup-text" style="margin-left: 80%;  margin-top: 2%;">
			<a style="font-size: 25px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" href="/logout">
				Logout <br>
			</a>
		</div>
	</nav>
	
	
	<span th:if="${luogo}">
		<h1 class="titoloLuogo">
			<b><span th:text="${luogo.nome}"></span></b>	
		    (<span th:text="${luogo.citta.nome}"></span>)
		</h1> 
		 	<div style="text-align: center;">
			<h3> 
			 	<span th:text="${luogo.descrizione}"></span>
			</h3> 
			</div>
		<header>
		<div style="margin-top: 10%; margin-left: 10%;">
			<p> 
				Tipologia: 
				<span th:text="${luogo.tipologia}"></span>
			</p>
			<p> 
				Indirizzo:
				<span th:text="${luogo.indirizzo}"></span> 
			</p>
			<p> 
				Valutazione degli utenti: 
				<span th:text="${luogo.valutazione}"></span>
			</p>
			<p>
				<span>
					<div style="text-align: center; margin-top: -17%; margin-left: 20%;">
					 <img width="70%"  th:src="${luogo.urlImage}"> 
					 </div>
				  </span>
			</p>
			<div style="margin-top: -18%;" class="signup-text">		
				<a style="font-size: 25px;" th:href="@{'/visita' + '/luogoId=' + ${luogo.id}}"> 
					Dettagli visita
				</a>	
			</div>
			</div>
			</span>
	<span th:unless="${luogo}">
		Non esiste
	</span>
	</header>
	
	
	<footer class="footer">
		<br>
			Tel: 069103224 <br>
			mail: francesca.saraco200@gmail.com <br>
			indirizzo Sede Principale: via Vito Volterra 63
	</footer>
</body>

</html>

<!--<button class="button-confirmV" type="submit">
	</button>-->