<!DOCTYPE html>
<html>

<head>
	<title>SiwMovie - Registrazione conclusa</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<nav>
		<div class="logo">
					<img src="/images/mondo2.png" alt="Logo del Sito">
				</div>	
						
				<div class="signup-text" style="margin-left: 80%;  margin-top: 2%;">
					<a style="font-size: 25px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" href="/logout">
						Logout <br>
					</a>
				</div>	
	</nav>
	
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<section class="section">
	
		<div style="align-items: center; text-align: center;">
	<h1>Congratulazioni ti sei registrato!</h1>
	<div>
		<span>Nome: </span>
		<span th:text="${user.name}"></span>
	</div>
	<div>
		<span>Cognome: </span>
		<span th:text="${user.surname}"></span>
	</div>
	<div>
		<span>Email: </span>
		<span th:text="${user.email}"></span>
	</div>
	<a href="/login">Torna al login</a>
	</div>
	
	</section>
	
	<footer class="footer" style="margin-top: 20%;">
		
	</footer>
	
</body>
</html>