<!DOCTYPE html>
<html>

<head>
	<title>
		SiwTravel
	</title>
	<link rel="stylesheet" href="/css/style.css?version=2" />
</head>

<body>
	<nav>
		<div class="logo">
				<img src="/images/mondo2.png" alt="Logo del Sito">
			</div>
			<div class="signup-text">
				<a href="/logout">
					Logout
				</a>
			</div>	
	</nav>
	<header>
		<div class="titolo">
			<h1> CITTA' PRESENTI NEL SISTEMA </h1>
		</div>
	</header>
	<section class="section">
		<div style="margin-left: 5%;"  class="text">
		<p>
			<div th:if="${cittas.isEmpty()}"> 
				Non ci sono città nel sistema! 
			</div> 
			
			<div class="signup-text">
			<div th:unless="${cittas.isEmpty()}">
			<ul>
				<li th:each="citta : ${cittas}">
				<span th:text="${citta.nome} + ' ('+ ${citta.stato} + ')'"> Valencia (Spagna)</span>
				
				<a th:href="@{'/admin/listaLuoghiDiInteresse' + '/' + ${citta.id}}"
									           th:text="' modifica luoghi di interesse '"></a> 
				 
				</li>
			</ul>
				</span>
			</div>
			</div>
		 </p>
		 </div>
	</section>
	
	<footer class="footer">
		
	</footer>
	
</body>

</html>