<!DOCTYPE html>
<html>

<head>
	<title>
		
	</title>
	<link rel="stylesheet" href="/css/stile.css?version=2" />
</head>

<body>
	<form th:action="@{/admin/luogo}" method="POST">
		<h1>
			Aggiungi un luogo di interesse che è possibile visitare:
		</h1>
		<p>
			Indirizzo*: <input type="text" name="indirizzo"/>
		</p>
		<p>
			Tipologia di luogo*: <input type="text" name="tipologia"/>
		</p>
		<p>
			Nome del luogo*: <input type="text" name="nome"/>
		</p>
		<p>
			Valutazione: <input type="text" name="valutazione"/>
		</p>
		<p>
			Descrizione: <input type="text" name="descrizione"/>
		</p>
		<p>
			Città:
			
			<select name="nomeCitta">
				<option value=""> Scegli una Città </option>
			<span th:each="citta : ${cittas}"> <!-- cittas è una lista di citta che viene passata dal controller-->
				<option th:value="*{citta.nome}">
				<span th:text="*{citta.nome}"> Nome Città*: </span>
					</option>
					</span>
			</select>
		</p>
		<span th:text="${messaggioErrore}">
			Errore
		</span>
		<p><button type="submit">
			CONFERMA
		</button>
		</p>
	</form>
</body>

</html>