<!DOCTYPE html>
<html>

<head>
	<title>
		SiwTravel
	</title>
	<link rel="stylesheet" href="/css/stile.css?version=2" />
</head>

<body>
	<nav>
		<h1 class="form">
			Scegli l'operazione che ti interessa effettuare
		</h1>
	</nav>
	<header>
		<p>
		<a href="/admin/formNewCitta">Aggiungi città</a>
	</p>
	<p>
		<a href="/admin/formNewVisita"> Aggiungi una nuova tipologia di visita </a>
	</p>
	<p>
		<h4><a href="/admin/elencoCitta">	Visualizza tutte le città</a></h4>
	</p>
	<p>
		<a href="/admin/formNewLuogoDiInteresse">Aggiungi un luogo di interesse</a>
	</p>
	<!--<p>  
		<a href="/elencoLuoghi">Visualizza tutti i luoghi di interesse</a>
	</p>-->
	</header>
	<section>
		<div class="index">
		<a href="/logout">
			Logout
		</a>
	</div>
	</section>
</body>

</html>