<!DOCTYPE html>
<html>

<head>
	<title>
		Luoghi citta'
	</title>
	<link rel="stylesheet" href="/css/stile.css?version=2" />
</head>

<body>
	<nav>
		
	</nav>
	<header>
		<h1 class="visitaInserita">
		luoghi presenti:
		</h1>
		
		<div class="signup-text">
		<ul th:if="${luoghi}"> 
		<li th:each="luogo : ${luoghi}"> 
			<a th:href="@{'/admin/showFormAggiornaLuogo' + '/' + ${luogo.id}}">  
				<span th:text="'modifica ' + *{luogo.nome}">
				</span>  
			</a>
		</li>
	</ul>
	</div>
	</header>
	<section>
		<div class="citta"> 
			<a href="/">
			Torna alla home
			</a>
		</div>
	</section>
	
</body>

</html>